<div id="items-index" class="container my-5">
  <div class="row mb-5">
    <div class="col-12">

      <%= form_tag search_items_path, method: "get", class: "text-center" do %>
        <div class="form-group">
          <%= text_field_tag :search, '', id: "items-search-box", class: "form-control mx-auto", placeholder: "検索..." %>
        </div>
        <div class="actions mt-4">
          <%= submit_tag "さがす", class: "sm-custom-btn" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mb-4 search-result">
  <% if @query.present? %>
    <p class="normal-color-text mb-2">キーワード：「 <%= @query.join(" ") %> 」での検索結果</p>
    <p><span class="result-count"><%= @result_count %></span>件ヒットしました。</p>
  <% end %>
  </div>

  <div class="row">
    <% @items.includes(:images).each do |item| %>
    <div class="col-sm-6 col-md-4 mb-5">
      <%= render("items/partial/item", item: item) %>
    </div>
    <% end %>
  </div>

  <%= render "partial/pagination", models: @items %>
</div>
