<div id="items-show" class="container my-4 my-sm-5">
  <div class="row">
  <% if @item.user == current_user %>
    <div class="col-md-9 mb-4">
      <h2 class="mb-0">
        <span class="accent-color-text"><%= ITEM_STATUS_HASH[@item.status] %></span>
        ｜<%= @item.title %>
      </h2>
    </div>
    <div class="col-md-3 text-md-right mb-4">
      <%= link_to "編集", edit_item_path(@item), class: "sm-custom-btn" %>
    </div>
  <% else %>
    <div class="col-12 mb-4">
      <h2 class="mb-0">
        <span class="accent-color-text"><%= ITEM_STATUS_HASH[@item.status] %></span>
        ｜<%= @item.title %>
      </h2>
    </div>
  <% end %>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4 mb-5">
      <div class="card">
        <%= image_tag("cat.jpg", class: "card-img-top") %>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 mb-5">
      <div class="card">
        <%= image_tag("cat.jpg", class: "card-img-top") %>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 mb-5">
      <div class="card">
        <%= image_tag("cat.jpg", class: "card-img-top") %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7 pb-5">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row" class="accent-color-text">価格</th>
            <td><%= @item.price %>円</td>
          </tr>
          <tr>
            <th scope="row" class="accent-color-text">講義名</th>
            <td><%= @item.lecture %></td>
          </tr>
          <tr>
            <th scope="row" class="accent-color-text">講師名</th>
            <td><%= @item.teacher %></td>
          </tr>
          <tr>
            <th scope="row" class="accent-color-text">メモ</th>
            <td><%= @item.memo %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-5 text-center pb-5">
      <%= link_to "Contact", "#", class: "bg-custom-btn" %>
    </div>
  </div>
</div>