<div id="items-show" class="container my-4 my-sm-5">
  <div class="row item-title">
    <div class="col-12 mb-4">
      <p class="mb-4">
        <span class="accent-color-text"><%= ITEM_STATUS_HASH[@item.status] %></span>
        <%= link_to "編集", edit_item_path(@item), class: "sm-custom-btn" if @item.user == current_user %>
      </p>
      <h2 class="mb-0"><%= @item.title %></h2>
    </div>
  </div>

  <div class="row">
  <% @item.images.each do |img| %>
    <div class="col-sm-6 col-md-4 mb-5">
      <div class="card">
        <%= image_tag(img.path.url, class: "card-img-top") %>
      </div>
    </div>
  <% end %>
  <% (IMAGES_NUM - @item.images.size).times do %>
    <div class="col-sm-6 col-md-4 mb-5">
      <div class="card">
        <%= image_tag("no-image", class: "card-img-top") %>
      </div>
    </div>
  <% end %>
  </div>

  <div class="row">
    <div class="col-md-7 pb-5">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row" class="accent-color-text">価格</th>
            <td><%= @item.price %>円</td>
          </tr>
          <tr>
            <th scope="row" class="accent-color-text">講義名</th>
            <td><%= @item.lecture %></td>
          </tr>
          <tr>
            <th scope="row" class="accent-color-text">講師名</th>
            <td><%= @item.teacher %></td>
          </tr>
          <tr>
            <th scope="row" class="accent-color-text">メモ</th>
            <td><%= @item.memo %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <% if @item.user != current_user && @item.on_sale? %>
    <div class="col-md-5 text-center pb-5">
      <%= link_to "Contact", rooms_path(params: {item_id: @item.id}), class: "bg-custom-btn", method: :post %>
    </div>
    <% end %>
  </div>
</div>